{{ define "main" }}
{{ if .Parent.IsHome }}
{{ $.Scratch.Set "blog-pages" (where .Site.RegularPages "Section" .Section) }}
{{ else }}
{{$.Scratch.Set "blog-pages" .Pages }}
{{ end }}

<div class="row">
	<div class="col-12">
		{{- if .Pages -}}
		{{ $pag := .Paginate (( $.Scratch.Get "blog-pages").GroupByDate "2006")}}
			{{ range $pag.PageGroups }}
			<ul class="list-unstyled mt-4">
				{{ range .Pages }}
				<li class="media mb-4">
					<div class="media-body">
						<h2 class="mt-0 mb-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
						<p class="mb-2 mb-md-3"><small class="text-muted">{{ .Date.Format ($.Param "time_format_blog") }}</small></p>
						<header class="article-meta">
							{{ partial "taxonomy_terms_article_wrapper.html" . }}
							{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
								{{ partial "reading-time.html" . }}
							{{ end }}
						</header>
						{{ partial "featured-image.html" (dict "p" . "w" 250 "h" 125 "class" "float-left mr-3 pt-1 d-none d-md-block") }}
						<p class="pt-0 mt-0">{{ .Summary | safeHTML }}</p>
						<p class="pt-0"><a href="{{ .RelPermalink }}" aria-label="{{ T "ui_read_more"}} - {{ .LinkTitle }}">{{ T "ui_read_more"}}</a></p>
					</div>
				</li>
				{{ end }}
			</ul>
			{{ end }}
		{{ end }}
	</div>
</div>
<div class="row pl-2 pt-2">
	<div class="col">
		{{ if .Pages }}
			{{ template "_internal/pagination.html" . }}
		{{ end }}
	</div>
</div>
{{ end }}