{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
    <div class="container text-center td-arrow-down">
        <span class="h4 mb-0">
            <h1>{{ T "community_join" . }}</h1>
            <p>{{ T "community_introduce" . }}</p>
        </span>
    </div>
</section>

<div class="container l-container--padded">
{{ partial "community_links.html" . }}

<div class="td-content">
    {{ .Content }}
</div>

</div>
{{ end }}
